<form method='POST' action='/users'>
  <label for='email'>Please enter email:</label>
	
  <input type='email' name='email'>
  <label for='password'>Please enter a password:</label>
  <input type='password' name='password'>
  <label for='username'>Please enter a username:</label>
  <input type='text' name='username'>
  <input type='submit' value='Submit'>
</form>