<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" href="signup_page.css">
</head>
<body>

	<section id='top'>
		<div class='nav'>
			<a href='/about'>About</a>
			<a href='/sessions/new'>Sign in</a>
		</div>
	</section>

	<section>
		<h1> Welcome to MakersBnb </h1>
		<h2> Feel at home, anywhere </h2>

		<h2> Sign up to BnB </h2>
		<form action="/user" method="post">
			<input type="email" name="email" placeholder="Enter Email" />
			<input type="password" name="password" placeholder='Enter Password' />
      <input type="text" name='username' placeholder='Username'>
      <input id='sign-in-btn' type="submit" value="Sign up" />
		</form>
		</br>
 
	</section>

</body>
	
 


</html>