
<h1 style='color: green'> Sign in </h1>
<form method='POST' action='/session'>

    <label for='email'>Please enter email:</label>
    <input type='email' name='email'>
    <label for='password'>Please enter a password:</label>
    <input type='password' name='password'>
    <input type='submit' value='Sign in'>
</form>