



<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../public/signin.css">
  <title>Document</title>
</head>
<body>
    <h1 style='color: green'> Sign in </h1>
  <form method='POST' action='/session'>

    <label for='email'>Please enter email:</label>
    <input type='email' name='email'>
    <label for='password'>Please enter a password:</label>
    <input type='password' name='password'>
    <input type='submit' value='Sign in'>
</form>
</body>
</html>