<link rel="stylesheet" href="/login.css">

<h1> Login to MakersBnb </h1>
<div id='signin-window'>
    <form method='POST' action='/session'>
        <label for='email'>Please enter email:</label>
        <input type='email' name='email'>
        <label for='password'>Please enter a password:</label>
        <input type='password' name='password'>
        <input type='submit' value='Sign in'>
    </form>
</div>
