
<link rel="stylesheet" href="/listings.css">

<h1>List a Space</h1>

<form action='/spaces' method='post'>

	<div id='fields' >
		<label for='name'>name
			<input type='text' name='name'>
		</label>
	</div>

	<div id='fields'>
		<label for='description'>Description
			<textarea name='description'rows="4" cols="40"></textarea>
		</label>
	</div>

	<div id='fields'>
		<label for='price_per_night'>Price per night (£)
			<input type='text' name='price_per_night'>
		</label>
	</div>

	<div id='fields'>
		<label for='available_from'>available from (DD/MM/YY)
			<input type='date' name='available_from'>
		</label>
	</div>

  <div id='fields'>
        <label for='available_to'>available to (DD/MM/YY)
            <input type='date' name='available_to'>
        </label>
  </div>

  <input class='submit-btn' type='submit' value='Submit'>
</form>
