<link rel="stylesheet" href="/spaces.css">
<h1> Welcome! <%= @user.username %> </h1>
<h1> Book a Space </h1>
<h2>Find your perfect house for the night or more</h2>

<ul>
<% @spaces.each do |space| %>
    <li> <%= space.name %>
    <%= space.description %>
    <%= space.price_per_night %> </li>
<% end %>
 <form action="/spaces/1" method='get'>
	<input type="submit" value='book this space'>
</form>
</ul>

<div class='buttons'>
  <form action="/sessions/destroy" method='post'>
    <input type="submit" value='Signout'>
  </form>

  <form action='/spaces/new' method='get'>
    <input type='submit' value='List a Space'>
  </form>
  </div>
