<h1> Welcome! <%= @user.username %> </h1>
<h1> Here are all the listings: </h1>

<ul>
<% @spaces.each do |space| %>
    <li> <%= space.name %>
    <%= space.description %>
    <%= space.price_per_night %> </li>
<% end %>
 <form action="/spaces/1" method='get'>
	<input type="submit" value='book this space'>
</form>
</ul>

<form action="/" method='get'>
	<input type="submit" value='Signout'>
</form>

<form action='/spaces/new' method='get'>
  <input type='submit' value='List a Space'>
</form>